
// Fonts


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Font-awesome
@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #aff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex :1;
}

.search-bar{
  background: #86cdc5;
}

.breadcrumb {
  background: none;
  padding: 0;
}
